body{
    margin: 0px;
}
.head{
    background-color: black;
    width: 100%;
    height: 50px;
}
.head-img-first{
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    float: left;
}
.head-img-first-github{
    width: 30px;
    height: 30px;
    margin: 10px 15px;
}
.head-title{
    float: left;
    margin: 15px 35px;
}
.head-title-a{
    text-decoration: none;
    margin: 0px 10px;
}
.head-title-a:link{
    color: white;
}
.head-title-a:visited{
    color: white;
}
.head-img-second{
    width: 30px;
    height: 30px;
    margin: 10px 25px 0px 0px;
    padding: 0px;
    float: right;
}
.head-img-second-bell{
    width: 25px;
    height: 25px;
}
.head-img-third{
    width: 60px;
    height: 30px;
    margin: 10px 25px 0px 0px;
    padding: 0px;
    float: right;
}
.head-img-third-plus,.head-img-third-trangle{
    float: left;
    width: 20px;
    height: 20px;
    margin: 4px 0px 0px 0px;
}
.head-img-four{
    width: 60px;
    height: 30px;
    margin: 10px 25px 0px 0px;
    padding: 0px;
    float: right;
}
.head-img-four-touxiang,.head-img-four-trangle{
    float: left;
    width: 20px;
    height: 20px;
    margin: 4px 2px 0px 0px;
}
.name-main{
    background-color: #fafbfc;
    color: #fafbfc;
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    /*border-bottom: 1px solid black;*/
}

.name-left{
    position: absolute;
    left: 15%;
    top: 100px;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.main-left-name{
    color: black;
    text-decoration:none;
}

.name-right{
    position: absolute;
    right: 15%;
    top: 100px;
    margin: 0px 0px 0px 0px;
}

.daohang{
    position: fixed;
    top: 150px;
    height: 31px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 15%;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
}

.daohang-button {
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    /*-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);*/
    /*transition: all .3s cubic-bezier(.645, .045, .355, 1);*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 30px;
    padding: 0 15px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.daohang-button {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}
.daohang-button {
    color: black;
    background-color: #eff3f6;
    border-color: #e1e4e8;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}


.navigation{
    margin: 0 20px 0 20px;
    padding: 0 0 0 0;
    text-decoration:none;
    font-size: 15px;
    color: black;
}
.navigation-seven{
    border: 0px;
    padding: 10px;
    border-top: 2px solid red;
    background-color: white;
    border-right: 1px solid #e1e4e8;
    border-left: 1px solid #e1e4e8;
    border-bottom: 1px solid white;
}
.octicon{
    color: #bdc3c7;
}
.test{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}